<div class="container">

<div class="row">
<div class="span16">

  <h2>Photos</h2>

  <ul class="media-grid photos">
    <% @photos.each do |photo| %>
      <li class="<%= photo.get_class %>"><a href=""><img class="thumbnail" src="<%= photo.full_url('sq') %>" width="75" height="75" /></a></li>
    <% end %>
  </ul>

</div><!-- span16 -->
</div><!-- row -->

</div><!-- container -->