<div class="container">

  <section id="home" style="margin-top: 30px;">
    <div class="hero-unit" style="text-align: center;">
      <h2>Flickr Archivr</h2>
      <p>Back up your entire Flickr photostream!</p>
    </div>
  </section>

  <p></p>

</div><!-- container -->