<div class="container" id="main">

    <section id="home" style="margin-top: 70px;">
      <div class="hero-unit" style="text-align: center;">
<!--         <div style="width: 380px; margin: 0 auto;">
          <img src="/img/" width="120" />
          <img src="/img/" width="120" />
          <img src="/img/" width="120" />
        </div>
 -->
        <h2 style="margin-top: 40px;">Sign in to get started</h2>

        
        <div class="row" style="margin-top: 40px;">
          <div style="color: #444; font-size: 11pt;" class="">
            <div>
              <a href="/auth/flickr"><img src="/img/fllogin.png" width="151" /></a>
            </div>
          </div>
        </div>
        
      </div>
    </section>
        
</div>