<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flickr Archivr</title>
    <link rel="stylesheet" href="/css/bootstrap-1.4.0.min.css">
    <meta name="description" content="Archive your entire Flickr photo stream" />
    <script src="/js/libs/jquery-1.6.4.min.js" type="text/javascript"></script>
    <% if SiteConfig.ga_id %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= GA_ID %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>
  <body>

    <div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="/">Flickr Archivr</a></h3>
          <!--
          <ul class="nav">
            <li class="active"><a href="#home">Home</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>

      <%== yield %>

    <div style="font-size: 9pt; color: #ccc; text-align: center; margin-top: 40px;">
      made by <a style="color: #ccc; text-decoration: underline;" href="http://aaronparecki.com/">aaronpk</a>
    </div>

  </body>
</html>
