<div class="container">

  <section id="home" style="margin-top: 30px;">
    <div class="hero-unit" style="text-align: center;">
      <h2>Search is not yet available</h2>
      <p>Sorry!</p>
    </div>
  </section>

</div><!-- container -->