body {
  padding-top: 60px;
}

.page-title {
  margin-bottom: 10px;
}

/**
 * Sidebar
 */

.sidebar-widget {
  margin-top: 10px;
  clear: both;
}

.sidebar-widget h3 {
  border-bottom: 1px #c8c8c8 solid;
}

.sidebar-widget ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sidebar-widget ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-widget .tags li {
  float: left;
  margin: 4px 0 0 0;
  padding: 0 20px 0 0;
}

/**
 * Photo Privacy
 */

.photos .private a {
  background-color: #EF9999;
  border-color: #E45757;
}

.photos .family a, .photos .friends a {
  background-color: #FBDC7B;
  border-color: #FACD27;
}

.photos .public a {
  
}

/**
 * Photo Map
 */
.photo_map {
  position: relative;
  height: 180px;
  width: 280px;
  display: block;
  border: 1px #C8C8C8 solid;
}
.photo_map .map {
  position: absolute;
  top: 0;
  left: 0;
}
.photo_map #photo_map_far {
}
.photo_map #photo_map_near {
  display: none;
}


/**
 * Pagination
 */
.pagination .next a {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.pagination .last a {
  border: 0;
}
.pagination .more span {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
  line-height: 34px;
  padding: 0 4px;
}

/**
 * Size Dropdown
 */
.photo-sizes .dropdown {
  width: 26px;
}
.photo-sizes .dropdown-toggle.closed::after {
  vertical-align: top;
  margin-top: 4px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid black;
  border-right: none;
}
.photo-sizes .dropdown-toggle.open::after {
  vertical-align: top;
  margin-top: 7px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}
.photo-sizes .hidden {
  display: none;
}
.condensed-table.photo-sizes td {
  padding: 3px 2px;
}
.photo-sizes tr.o td {
  border-top: none;
}
.photo-sizes .dimensions {
  font-size: 85%;
}

/**
 * List of sets
 */
ul.sets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.sets li {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}
