body {
  padding-top: 60px;
}

.page-title {
  margin-bottom: 10px;
}

/**
 * Sidebar
 */

.sidebar-widget {
  margin-top: 10px;
  clear: both;
}

.sidebar-widget h3 {
  border-bottom: 1px #c8c8c8 solid;
}

.sidebar-widget ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sidebar-widget ul.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-widget .tags li {
  float: left;
  margin: 4px 0 0 0;
  padding: 0 20px 0 0;
}

.sidebar-widget .small-link {
  float: right;
  font-size: 13px;
  font-weight: normal;
}

/**
 * Photo Privacy
 */

.photos .private a {
  background-color: #EF9999;
  border-color: #E45757;
}

.photos .family a, .photos .friends a {
  background-color: #FBDC7B;
  border-color: #FACD27;
}

.photos .public a {
  
}

/**
 * Photo Map
 */
.photo_map {
  position: relative;
  height: 180px;
  width: 280px;
  display: block;
  border: 1px #C8C8C8 solid;
}
.photo_map .map {
  position: absolute;
  top: 0;
  left: 0;
}
.photo_map #photo_map_far {
}
.photo_map #photo_map_near {
  display: none;
}


/**
 * Pagination
 */
.pagination .next a {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.pagination .last a {
  border: 0;
}
.pagination .more span {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  float: left;
  line-height: 34px;
  padding: 0 4px;
}

/**
 * Size Dropdown
 */
.photo-sizes .dropdown {
  width: 26px;
}
.photo-sizes .dropdown-toggle.closed:after {
  vertical-align: top;
  margin-top: 4px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid black;
  border-right: none;
}
.photo-sizes .dropdown-toggle.open:after {
  vertical-align: top;
  margin-top: 7px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}
.photo-sizes .hidden {
  display: none;
}
.condensed-table.photo-sizes td {
  padding: 3px 2px;
}
.photo-sizes tr.o td {
  border-top: none;
}
.photo-sizes .dimensions {
  font-size: 85%;
}

/**
 * List of sets
 */
.sets:after {
  clear: both;
}
.sets {
  display: table;
  margin: 0;
  padding: 0;
}
.sets .set {
  display: inline-block;
  margin: 0 30px 0 0;
  padding: 0;
  vertical-align: top;
}
.sets .set-in.s {
  width: 252px;
}
.sets .set-in.sq {
  width: 123px;
}
.sets .set-thumbnail {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px;
  float: left;
}
.sets .set-thumbnail img {
  display: block;
  border: none;
}
.sets .set h4 {
  clear: both;
  line-height: 19px;
  padding-top: 8px;
}
.sets .set p {
  color: #777;
  font-size: 11px;
}
.sets .set p .num {
  font-weight: bold;
}

/**
 * List of tags
 */
.tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tags ul li {
  margin: 0 10px 4px 0;
  padding: 0;
  float: left;
}
.tags ul {
  font-size: 14px;
}
.tags .weight-0 {
  font-size: 100%;
}
.tags .weight-1 {
  font-size: 105%;
}
.tags .weight-2 {
  font-size: 110%;
}
.tags .weight-3 {
  font-size: 115%;
}
.tags .weight-4 {
  font-size: 120%;
}
.tags .weight-5 {
  font-size: 130%;
}
.tags .weight-6 {
  font-size: 140%;
}
.tags .weight-7 {
  font-size: 150%;
}
.tags .weight-8 {
  font-size: 160%;
}
.tags .weight-9 {
  font-size: 170%;
}
.tags .weight-10 {
  font-size: 180%;
}
