<div class="container">

  <section id="home" style="margin-top: 30px;">
    <div class="hero-unit" style="text-align: center;">
      <h2>Not Found</h2>
      <p>Sorry, whatever it was you were looking for doesn't seem to exist</p>      
    </div>
  </section>

</div><!-- container -->