<div class="container">

  <section id="home" style="margin-top: 30px;">
    <div class="hero-unit" style="text-align: center;">
      <h2>Server Error</h2>
      <p>Something went wrong!</p>
    </div>
  </section>

</div><!-- container -->