<div class="container">

  <section id="home" style="margin-top: 30px;">
    <div class="hero-unit" style="text-align: center;">
      <h2>Can't Sign In</h2>
      <p>Sorry, this site does not allow other people to sign in! If you'd like to set up your own site,<br />you can download the source code from <a href="https://github.com/aaronpk/Flickr-Archivr">Github</a></p>
    </div>
  </section>

</div><!-- container -->